@font-face {
  font-family: "Segoe UI Light";
  src: url("../fonts/SegoeUI-Light.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url("../fonts/SegoeUI.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Italic";
  src: url("../fonts/SegoeUI-Italic.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Studio Script Regular";
  src: url("../fonts/StudioScriptCTT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 300 Light";
  src: url("../fonts/MuseoSansCyrl-300.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 300 Light Italic";
  src: url("../fonts/MuseoSansCyrl-300Italic.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 500 Medium";
  src: url("../fonts/MuseoSansCyrl-500.woff");
  font-weight: normal;
  font-style: normal;
}
